.about-title {
    font-size: 100px;
    text-align: center;
    margin-bottom: 20px;
}

.text-box {
    border: 5px solid rgba(163, 146, 235, 0.8); /* Light purple color */
    border-radius: 10px;
    padding: 40px; /* 40px padding on each side */
    width: 60%; /* Set width to 60% of the page */
    margin: 0 auto; /* Center the box horizontally */
}

.text-box p {
    text-align: justify;
}

h2, h3 {
    text-align: center;
    margin: 10px 0; /* Adjust margins */
}

h3 {
    padding-bottom: 100px;
}
