.favorites-section {
    padding: 40px; /* Padding on all sides */
}

.favorites-section h1 {
    font-size: 100px;
    text-align: center;
    margin: 0; /* Remove default margin */
    padding-top: 20px; /* Adjust padding to center vertically */
}

.favorites-box {
    background-color: rgba(163, 146, 235, 0.9);
    padding: 20px; /* Add padding to the box */
    border-radius: 10px; /* Add rounded corners */
    margin: 20px auto; /* Center the box horizontally */
    width: 80%; /* Set width to 80% of the parent container */
}